<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

  <!-- NOTE: Remove no cache in production -->
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <title>Personal Knowledge Base</title>

 	<link rel="stylesheet" type="text/css" href="/s/libs/ext-2.2/resources/css/ext-all.css?{{randint}}" />
 	<link rel="stylesheet" type="text/css" href="/s/libs/ext-2.2/resources/css/xtheme-gray.css?{{randint}}" />
	<link rel="stylesheet" type="text/css" href="/s/stylesheets/kb.css?{{randint}}" />
 	
	<script type="text/javascript" src="/s/libs/ext-2.2/adapter/ext/ext-base.js?{{randint}}"></script>
 	<script type="text/javascript" src="/s/libs/ext-2.2/ext-all.js?{{randint}}"></script>
	<script type="text/javascript" src="/s/libs/ext-extensions/Ext.ux.ManagedIframe/miframe.js?{{randint}}"></script>
	<script type="text/javascript" src="/s/javascripts/ext.ux.enhancedgridpanel.js?{{randint}}"></script>
	<script type="text/javascript" src="/s/javascripts/textilize.js?{{randint}}"></script>
	<script type="text/javascript" src="/s/javascripts/wikitext_to_html_converter.js?{{randint}}"></script>
 	<script type="text/javascript" src="/s/javascripts/kb.js?{{randint}}"></script>

</head>
<body>
  <h1>Personal Knowledge Base</h1>
  <div id="content"></div>
</body>
</html>
